<table th:fragment="tableimports" class="table-sm table-bordered table-hover" id="export"
       xmlns:th="http://www.thymeleaf.org/">
    <thead>
    <tr style="font-weight: bold">
        <td colspan="6">EXPORT</td>
        <td class="import" colspan="7">IMPORT</td>
    </tr>
    <tr style="font-weight: bold">
        <td style="width: 6%">TURA</td>
        <td style="width: 10%">KIEROWCA</td>
        <td style="width: 4%">DATA ZAŁ.</td>
        <td style="width: 9%">FABRYKA</td>
        <td style="width: 9%">OSTATNI ROZŁAD.</td>
        <td style="width: 9%">DATA DOK.</td>

        <td class="import" style="width: 9%">DOJAZD KM</td>
        <td class="import" style="width: 9%">SKĄD</td>
        <td class="import" style="width: 9%">DOKĄD</td>
        <td class="import" style="width: 9%">KTO ZNALAZŁ</td>
        <td class="import" style="width: 9%">DATA DOK.</td>
        <td class="import" style="width: 9%">NAST. ZAŁADUNEK</td>

        <td class="import" style="width: 5%"></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="one : ${orders}" >
        <td><strong><span th:text="${one.orderNumber}"></span></strong></td>
        <td><span th:if="${one.driver!=null}" th:text="${#strings.substring(one.driver.driverName,0,1)}  + '.' + ${one.driver.driverSurname}"></span></td>
        <td><span th:text="${one.loadDate}"></span></td>
        <td><span th:if="${one.factory!=null}"
                  th:text="${one.loadingCity}"></span></td>
        <td>
            <span th:if="${one.cityCodes!=null}" th:text="${#strings.arraySplit(one.cityCodes, ',')[#arrays.length(#strings.arraySplit(one.cityCodes, ',')) - 1]}"></span>
        </td>
        <td>
           <span th:if="${one.docDateExp!=null}"
                 th:text="${one.docDateExp}"></span>
        </td>
        <td>
            <span th:if="${one.kilometersImp!=null}"
                  th:text="${one.kilometersImp}+' km'"></span>
        </td>
        <td>
            <span th:if="${one.loadingCityImp!=null}"
                  th:text="${one.loadingCityImp}"></span>
        </td>
        <td>
            <span th:if="${one.cityCodesImp!=null}"
                  th:text="${one.cityCodesImp}"></span>
        </td>
        <td>
           <span th:if="${one.userImp!=null}"
                 th:text="${one.userImp}"></span>
        </td>
        <td>
            <span th:if="${one.docDateImp!=null}"
                  th:text="${one.docDateImp}"></span>
        </td>
        <td>
            <span th:if="${one.nextLoadingCityImp!=null}"
            th:text="${one.nextLoadingCityImp}"></span>
        </td>
        <td>
            <a class="btn btn-outline-primary btn-sm" th:href="@{/edycjaimport/{id}(id=${one.id})}" role="button">Edycja</a>
        </td>
    </tr>
    </tbody>
</table>