<table th:fragment="tableimports" class="table-sm table-bordered table-hover" id="export"
       xmlns:th="http://www.thymeleaf.org/">
    <thead>
    <tr style="font-weight: bold">
        <td id="nic1" colspan="8">EXPORT</td>
        <td id="nic2" class="import" colspan="8">IMPORT</td>
    </tr>
    <tr style="font-weight: bold">
        <td style="width: 3%"></td>
        <td class="nic" style="width: 7%">TURA</td>
        <td style="width: 11%">KIEROWCA</td>
        <td style="width: 11%" class="noScreen">CIĄGNIK</td>
        <td style="width: 11%" class="noScreen">NACZEPA</td>
        <td class="nic" style="width: 6%">DATA ZAŁ.</td>
        <td class="nic" style="width: 6%">FABRYKA</td>
        <td style="width: 8%">OSTATNI ROZŁAD.</td>
        <td style="width: 8%">KIEDY KOŃCZY</td>
        <td class="nic" style="width: 6%">DATA DOK.</td>
        <td id="nic3" class="import" style="width: 4%">DOJAZD</td>
        <td id="nic4" class="import" style="width: 8%">SKĄD</td>
        <td class="import" style="width: 8%">DOKĄD</td>
        <td id="nic5" class="import" style="width: 4%">STAWKA</td>
        <td id="nic6" class="import" style="width: 6%">KTO ZNALAZŁ</td>
        <td id="nic7" class="import" style="width: 6%">DATA DOK.</td>
        <td id="nic8" class="import" style="width: 5%">NAST. ZAŁADUNEK</td>
        <td id="nic9" class="import" style="width: 4%"></td>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="one : ${orders}">
        <tr th:if="${one.id!=null}">
            <td class="pion" id="szer">
                <div class="pion"><strong><span th:text="${one.user.userName}"></span></strong></div>
            </td>
            <td class="nic"><strong><span th:text="${one.orderNumber}"></span></strong></td>
            <td><span th:if="${one.driver!=null}"
                      th:text="${one.driver.driverSurname}+' '+${one.driver.driverName}"></span>
            </td>
            <td class="noScreen"><span th:if="${one.driver!=null}"
                      th:text="${one.driver.driverCar}"></span>
            </td>
            <td class="noScreen"><span th:if="${one.driver!=null}"
                      th:text="${one.driver.driverSemitrailer}"></span>
            </td>
            <td class="nic"><span th:text="${one.loadDate}"></span></td>
            <td class="nic"><span th:if="${one.factory!=null}"
                      th:text="${one.loadingCity}"></span></td>
            <td>
            <span th:if="${one.cityCodes!=null}"
                  th:text="${#strings.arraySplit(one.cityCodes, ',')[#arrays.length(#strings.arraySplit(one.cityCodes, ',')) - 1]}"></span>
            </td>
            <td>
           <span th:if="${one.exportEnd!=null}"
                 th:text="${one.exportEnd}"></span>
            </td>
            <td class="nic">
           <span th:if="${one.docDateExp!=null}"
                 th:text="${one.docDateExp}"></span>
            </td>
            <td class="nic">
            <span th:if="${one.kilometersImp!=null}"
                  th:text="${one.kilometersImp}+' km'"></span>
            </td>
            <td class="nic">
            <span th:if="${one.loadingCityImp!=null}"
                  th:text="${one.loadingCityImp}"></span>
            </td>
            <td>
            <span th:if="${one.cityCodesImp!=null}"
                  th:text="${one.cityCodesImp}"></span>
            </td>
            <td class="nic">
           <span th:if="${one.priceImp!=null}"
                 th:text="${#numbers.formatDecimal(one.priceImp,0,0,'COMMA')}+' €'"></span>
            </td>
            <td class="nic">
           <span th:if="${one.userImp!=null}"
                 th:text="${one.userImp}"></span>
            </td>
            <td class="nic">
            <span th:if="${one.docDateImp!=null}"
                               th:text="${one.docDateImp}"></span>
            </td>
            <td class="nic">
            <span th:if="${one.nextLoadingCityImp!=null}"
                  th:text="${one.nextLoadingCityImp}"></span>
            </td>
            <td class="nic">
                <a class="btn btn-outline-primary btn-sm" th:href="@{/edycjaimport/{id}(id=${one.id})}"
                   role="button">Edycja</a>
            </td>
        </tr>
    </th:block><th:block th:if="${dr.active==true}" th:each="dr : ${driversFreeWeek}">
        <tr>
            <td class="pion">
                <div class="pion"><strong><span th:text="${dr.user.userName}"></span></strong></div>
            </td>
            <td class="nic" ></td>
            <td th:text="${dr.driverSurname}+' '+${dr.driverName}"></td>
            <td class="noScreen" th:text="${dr.driverCar}"></td>
            <td class="noScreen" th:text="${dr.driverSemitrailer}"></td>
            <td class="nic" ></td>
            <td class="nic" ></td>
            <td></td>
            <td></td>
            <td class="nic" ></td>
            <td class="nic" ></td>
            <td class="nic" ></td>
            <td></td>
            <td class="nic" ></td>
            <td class="nic" ></td>
            <td class="nic" ></td>
            <td class="nic" ></td>
            <td class="nic" ></td>
        </tr>
    </th:block>
    </tbody>
    <tfoot>
    </tfoot>
</table>