<table th:fragment="tableorders" class="table-sm table-bordered table-hover" id="export"
       xmlns:th="http://www.thymeleaf.org/">
    <thead>
    <tr style="font-weight: bold">
        <td style="width: 7%">TURA</td>
        <td style="width: 3%">GODZ.</td>
        <td style="width: 8%">FABRYKA</td>
        <td style="width: 7%">DATA ZAŁ.</td>
        <td style="width: 3%">NR</td>
        <td style="width: 6%">ZAŁADUNEK</td>
        <td style="width: 15%">ROZŁADUNKI</td>
        <td style="width: 6%">UWAGI</td>
        <td style="width: 5%"><img src="/images/earth.png" width=15 height=15> </td>
        <td style="width: 5%">KM</td>
        <td style="width: 4%">CENA HANDEL</td>
        <td style="width: 4%">CENA NASZA</td>
        <td style="width: 4%">CENA PRZEW.</td>
        <td style="width: 4%">ZYSK</td>
        <td style="width: 9%">PRZEWOŹNIK</td>
        <td style="width: 7%">T/S</td>
        <td style="width: 7%">STATUS</td>
        <td style="width: 5%"></td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="one : ${orders}"  th:style="${#dates.format(#dates.createNow(), 'yyyy-MM-dd') > #temporals.format(one.loadDate, 'yyyy-MM-dd')} and ${one.user==null} ? 'color:red' : (${one.isImport==true}?'color:blue':'')">
        <td><strong><span th:text="${one.orderNumber}"></span></strong></td>
        <td><span th:text="${one.loadHour}"></span></td>
        <td><span th:if="${one.factory!=null}"
                  th:text="${one.factory.factoryName}"></span></td>
        <td><span th:text="${one.loadDate}"></span></td>

        <td><span th:text="${one.ourNumber!=null} ? ${one.ourNumber} : (${#strings.length(one.id)<4} ? ${one.id}+'.' : ${#strings.substring(one.id,(#strings.length(one.id)-3),(#strings.length(one.id)))}+'.')"></span></td>
        <td>
            <span th:text="${one.loadingCity}"></span>
        </td>
        <td>
            <span th:if="${one.cityCodes!=null}" th:text="${one.cityCodes}"></span>
        </td>
        <td>
            <span th:if="${one.comment!=null}" th:text="${one.comment}"></span>
        </td>
            <td style="text-align:center">
                <a th:href="@{'https://www.google.pl/maps/dir/'+${one.loadingCity}+'/'+${#strings.replace(one.cityCodes,',',',europe/')}}" target="_blank" title="pokaż na mapie">
                <img src="/images/earth.png" width=15 height=15></a></td>
        <td >
            <span th:if="${one.kilometers!=null}" th:text="${one.kilometers}+' km'"></span>
        </td>
        <td><span th:if="${one.priceExpected!=null}" th:text="${#numbers.formatDecimal(one.priceExpected,0,0,'COMMA')}"></span></td>
        <td><span th:if="${one.price!=null}" th:style="${one.priceConfirmed} ? 'background-color:lightgreen' : 'color:grey'" th:text="${#numbers.formatDecimal(one.price,0,0,'COMMA')}+' €'"></span></td>
        <td><span th:if="${one.freighterPrice!=null}" th:text="${#numbers.formatDecimal(one.freighterPrice,0,0,'COMMA')}+' €'"></span></td>
        <td><span th:if="${one.price!=null} and ${one.freighterPrice!=null}"
                  th:text="${#numbers.formatDecimal(one.price,0,0,'COMMA')}-${#numbers.formatDecimal(one.freighterPrice,0,0,'COMMA')}+' €'"></span></td>
        <td><span th:if="${one.freighter!=null}" th:text="${one.freighter.freighterName}"></span></td>
        <td><span th:if="${one.user!=null}" th:text="${one.user.userName}"></span></td>
        <td>
            <span style="background-color:#d9534f;color:black"
                  th:if="${#dates.format(#dates.createNow(), 'yyyy-MM-dd') > #temporals.format(one.loadDate, 'yyyy-MM-dd')} and ${one.user==null}">#wolna#spad</span>
            <span style="background-color:#5bc0de"
                  th:if="${#dates.format(#dates.createNow(), 'yyyy-MM-dd') < #temporals.format(one.loadDate, 'yyyy-MM-dd')} and ${one.user==null}">#wolna</span>
            <span style="background-color:#5bc0de"
                  th:if="${#dates.format(#dates.createNow(), 'yyyy-MM-dd') == #temporals.format(one.loadDate, 'yyyy-MM-dd')} and ${one.user==null}">#wolna</span>
            <span style="background-color:#5cb85c" th:if="${one.user!=null} and ${one.user.userName!='STORNO'}">#sprzedana</span>
            <span style="background-color:gray"
                  th:if="${one.user!=null} and ${one.user.userName=='STORNO'}">#storno</span>
            <span style="background-color:lightgreen"
                  th:if="${one.freighter!=null} and ${one.freighter.freighterName=='MTW'}">#MTW</span>
        </td>

        <td>
            <a th:if="${logged.role} == 2 OR ${logged.role} ==3" class="btn btn-outline-danger btn-sm" th:href="@{/edycjazlecenie/{id}(id=${one.id})}" role="button">Edycja</a>
        </td>
    </tr>
    </tbody>
</table>
