<table th:fragment="tableimports" class="table-sm table-bordered table-hover" id="export"
       xmlns:th="http://www.thymeleaf.org/">
    <thead>
    <tr style="font-weight: bold">
        <td id="nic1" colspan="9">EXPORT</td>
        <td id="nic2" class="import" colspan="7">IMPORT</td>
    </tr>
    <tr style="font-weight: bold">
        <td class="nic" style="width: 4%"></td>
        <td class="nic" style="width: 7%">TURA</td>
        <td style="width: 12%">KIEROWCA</td>
        <td id="nic8" style="width: 6%">GDZIE SKOŃCZYŁ</td>
        <td class="noScreen">CIĄGNIK</td>
        <td class="noScreen">NACZEPA</td>
        <td class="nic" style="width: 6%">DATA ZAŁ.</td>
        <td class="nic" style="width: 6%">FABRYKA</td>
        <td style="width: 9%">GDZIE KOŃCZY</td>
        <td style="width: 9%">KIEDY KOŃCZY</td>
        <td class="nic" style="width: 4%">STAWKA EXP.</td>
        <td id="nic11" class="import" style="width: 4%">KABOTAŻ</td>
        <td class="import" style="width: 9%">SKĄD</td>
        <td class="import" style="width: 9%">DOKĄD</td>
        <td id="nic5" class="import" style="width: 4%">STAWKA IMP.</td>
        <td id="nic10" class="import" style="width: 6%">OBRÓT</td>
        <td class="import" style="width: 9%">KTO ZNALAZŁ</td>
        <td id="nic9" class="import" style="width: 5%"></td>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="one : ${orders}">
        <tr th:if="${one.id!=null}"  th:class="${one.userImp!=null} ?( ${one.userImp!=' '}?'alternate':''):''">
            <td class="pion"  id="nic12">
                <div class="pion"><strong><span th:text="${one.user.userName}"></span></strong></div>
            </td>
            <td class="nic"><strong><span th:text="${one.orderNumber}"></span></strong></td>
            <td><span th:if="${one.driver!=null}"
                      th:text="${one.driver.driverSurname}+' '+${one.driver.driverName}"></span>
            </td>
            <td class="nic">
            <span th:if="${one.nextLoadingCityImp!=null}"
                  th:text="${one.nextLoadingCityImp}"></span>
            </td>
            <td class="noScreen"><span th:if="${one.driver!=null}"
                                       th:text="${one.driver.driverCar}"></span>
            </td>
            <td class="noScreen"><span th:if="${one.driver!=null}"
                                       th:text="${one.driver.driverSemitrailer}"></span>
            </td>
            <td class="nic"><span th:text="${one.loadDate}"></span></td>
            <td class="nic"><span th:if="${one.factory!=null}"
                                  th:text="${one.loadingCity}"></span></td>
            <td>
            <span th:if="${one.cityCodes!=null}"
                  th:text="${#strings.arraySplit(one.cityCodes, ',')[#arrays.length(#strings.arraySplit(one.cityCodes, ',')) - 1]}"></span>
            </td>
            <td>
           <span th:if="${one.exportEnd!=null}"
                 th:text="${one.exportEnd}"></span>
            </td>
            <td class="nic">
          <span th:if="${one.price!=null}"
                th:text="${#numbers.formatDecimal(one.price,0,0,'COMMA')}"></span>
            </td>
                <td class="nic">
                        <span th:if="${one.cabotage!=null}"
                          th:text="${#numbers.formatDecimal(one.cabotage,0,0,'COMMA')}"></span>
            </td>
            <td>
            <span th:if="${one.loadingCityImp!=null}"
                  th:text="${one.loadingCityImp}"></span>
            </td>
            <td>
            <span th:if="${one.cityCodesImp!=null}"
                  th:text="${one.cityCodesImp}"></span>
            </td>
            <td class="nic">
           <span th:if="${one.priceImp!=null}"
                 th:text="${#numbers.formatDecimal(one.priceImp,0,0,'COMMA')}"></span>
            </td>
            <td class="nic" th:with="price=${one.price}?:0,cabotage=${one.cabotage}?:0,priceImp=${one.priceImp}?:0">
                <span
                        th:style="${price+cabotage+priceImp<3300} ? 'color:red' : ''" th:text="${#numbers.formatDecimal(price+cabotage+priceImp,0,0,'COMMA')} +' €'"></span></td>
            <td  th:text="${one.userImp}"></td>
            <td class="nic">
                <a th:if="${logged.role} == 2 OR ${logged.role} ==3 OR ${logged.role} ==1 OR ${logged.role} ==21"
                   class="btn btn-outline-primary btn-sm" th:href="@{/edycjaimport/{id}(id=${one.id})}"
                   role="button">Edycja</a>
            </td>
        </tr>
    </th:block>
    <th:block th:if="${dr.active==true}" th:each="dr : ${driversFreeWeek}">
        <tr >
            <td class="pion">
                <div class="pion"><strong><span th:text="${dr.user.userName}"></span></strong></div>
            </td>
            <td class="nic"></td>
            <td th:text="${dr.driverSurname}+' '+${dr.driverName}"></td>
            <td class="nic"></td>
            <td class="noScreen" th:text="${dr.driverCar}"></td>
            <td class="noScreen" th:text="${dr.driverSemitrailer}"></td>
            <td class="nic"></td>
            <td class="nic"></td>
            <td></td>
            <td></td>
            <td class="nic"></td>
            <td class="nic"></td>
            <td></td>
            <td></td>
            <td class="nic"></td>
            <td class="nic"></td>
            <td></td>
            <td class="nic"></td>
        </tr>
    </th:block>
    </tbody>
    <tfoot>
    </tfoot>
</table>