<form th:action="@{/orders/range}" th:object="${orders}" method="post" th:fragment="formrange">
    <div class="form-row align-items-center">
        <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup2">DATA OD:</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">DATA OD:</div>
                </div>
                <input required  name="date1" type="date" class="form-control" id="inlineFormInputGroup2">
            </div>
        </div>
        <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">DATA DO:</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">DATA DO:</div>
                </div>
                <input required  name="date2" type="date" class="form-control" id="inlineFormInputGroup">
            </div>
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-success mb-2">ZNAJDŹ</button>
        </div>
    </div>
</form>