<nav class="navbar sticky-top navbar-light bg-light" th:fragment="navbar" style="background-color: #e3f2fd;">
    TRANSPORT APP

    <a class="nav-link" href="/orders">Zlecenia</a>
    <a class="nav-link" href="/factory">Fabryki</a>
    <a class="nav-link" href="#">...</a>

    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="szukaj..." aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Wyszukaj</button>
    </form>
</nav>