<nav class="navbar sticky-top navbar-expand-md bg-dark navbar-dark" th:fragment="navbar"
     style="background-color: #e3f2fd;">


    <a class="navbar-brand" href="/zlecenia"><img th:src="@{/images/logo.png}"/></a> v.3.0.1

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/zlecenia">ZLECENIA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/naszeauta/tydzien">NASZE AUTA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/raporty">RAPORTY</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/zakazy">ZAKAZY</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    INNE
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/kalkulator">KALKULATOR TRAS</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/fabryki">FABRYKI</a>
                    <a class="dropdown-item" href="/kierowcy">KIEROWCY</a>
                    <a class="dropdown-item" href="/przewoznicy">PRZEWOŹNICY</a>
                    <a class="dropdown-item" href="/uzytkownicy">UŻYTKOWNICY</a>
                </div>
            </li>
        </ul>
    </div>
    <div><input id="myInput" class="form-control mr-sm-2" type="text" placeholder="filtruj..." aria-label="Search">
    </div>


</nav>