<nav class="navbar sticky-top navbar-expand-md bg-dark navbar-dark" th:fragment="navbar" style="background-color: #e3f2fd;">



    <a class="navbar-brand" href="#">TRANSPORT APP</a>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/orders">ZLECENIA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/freighter">PRZEWOŹNICY</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/factory">FABRYKI</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user" disabled>Użytkownicy</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ustawienia
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/user">Użytkownicy</a>
                    <a class="dropdown-item disabled" href="">Logowanie</a>
                    <a class="dropdown-item disabled" href="">Informacje</a>
                </div>
            </li>
        </ul>
    </div>
    <div><input id="myInput" class="form-control mr-sm-2" type="text" placeholder="wyszukaj..." aria-label="Search">
    </div>


</nav>