<div th:fragment="selection" class="container-fluid" style="background-color: #6495ED" >

    <div style="padding-top: 25px;padding-bottom: 20px">
        <div class="container-fluid" style="text-align:center">
            <!--           <div class="row" style="padding-top: 5px;padding-bottom: 15px">
                           <div class="col-4">
                               &lt;!&ndash; <p>Wyszukiwanie tur według zakresu dat:</p>
                                <form th:replace="fragments/formrange :: formrange"></form>&ndash;&gt;
                            </div>

                            <div class="col-4">
                                <p>Wyszukiwanie tur według tygodni:</p>
                                <form th:replace="fragments/formweekimport :: formweek"></form>
                            </div>
                            <div class="col-4">
                            &lt;!&ndash;    <p>Wyszukiwanie po numerze tury:</p>
                                <form th:action="@{/zlecenia/tura}" th:object="${orders}" method="get">
                                    <input placeholder="wpisz nr tury..." name="searchStr" type="text" th:value="${searchStr}" class="form-control">
                                </form>&ndash;&gt;
                            </div>
                        </div>-->
            <div class="btn-group" role="group" aria-label="Basic example" >
                <a href="/naszeauta/tydzien/poprzedni" type="submit" class="btn btn-danger btn-lg"><< POPRZEDNI</a>
                <a href="/naszeauta/tydzien" type="submit" class="btn btn-danger btn-lg">AKTUALNY TYDZIEŃ</a>
                <a href="/naszeauta/tydzien/nastepny" type="submit" class="btn btn-danger btn-lg">NASTĘPNY >></a>
            </div>

        </div>
    </div>
</div>