<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head th:replace="fragments/header :: header"></head>
<body class="calc">
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <div><br><br></div>
    <div class="row justify-content-md-center"><h4>Raport miesięczny - spedytorzy</h4></div>
    <div class="row justify-content-md-center">
        <form th:action="@{/raporty/spedytorzy}" th:method="post" th:object="${reportForm}">
            <div class="form-row align-items-center">
                <div class="col-auto my-1">
                    <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">MIESIĄC</div>
                        </div>
                        <input required th:if="${reportForm}" th:value="${reportForm.getLoadDate()}" name="loadDate" type="date"  class="form-control" id="inlineFormInputGroupUsername">
                        <input required th:if="!${reportForm}"name="loadDate" type="date"  class="form-control" id="inlineFormInputGroupUsername2">

                    </div>
                </div>
                <div class="col-auto my-1">
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" required name="person">
                        <option th:if="!${reportForm}" disabled >wybierz osobę...</option>
                        <option th:if="${reportForm}" th:value="${reportForm.getPerson()}" th:text="${reportForm.getPerson()}"></option>
                        <option th:if="${u.active}" th:each="u : ${users}" th:value="${u.userName}"
                                th:text="${u.userName}"></option>
                    </select>
                </div>
                <div class="col-auto my-1">
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect4" required name="reportFormat">
                              <option  th:value="HTML"   th:text="WIDOK" selected></option>
                              <option  th:value="PDF"    th:text="PDF" ></option>
                          </select>
                      </div>
                      <div class="col-auto my-1">
                          <button type="submit" class="btn btn-danger">GENERUJ RAPORT</button>
                      </div>
                  </div>
              </form>

              <!-- tabela raportu miesiac/osoba -->
    </div>
<!--    <div class="row justify-content-md-center"> <p> </p><p> </p><p> </p>
        <img th:src="@{/images/progress.png}" th:width=120px th:height=120px/>

    </div>-->
</div>
</body>
</html>