<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head th:replace="fragments/header :: header"></head>
<body class="calc">
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <div><br><br></div>
     <div class="row justify-content-md-center"><h4>Ilość wszystkich tur w miesiącu</h4><br></div>
    <table class="highchart" data-graph-container-before="1" data-graph-type="column" style="display: none">
       <!-- <caption>Ilość wszystkich tur w miesiącu</caption>-->
        <thead>
        <tr>
            <th>Data</th>
            <th>MTW</th>
            <th>Sprzedane</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span th:text="${#dates.format(#dates.createNow(), 'MMM yyyy')}"></span></td>
            <td><span th:text="${sold.get(1)}"></span></td>
            <td><span th:text="${sold.get(0)}"></span></td>
        </tr>
        <tr>
            <td><span th:text="${#temporals.format(dt.get(1), 'MMM yyyy')}"></span></td>
            <td><span th:text="${sold.get(3)}"></span></td>
            <td><span th:text="${sold.get(2)}"></span></td>
        </tr>
        <tr th:if="${sold.get(4)>0}">
            <td><span th:text="${#temporals.format(dt.get(2), 'MMM yyyy')}"></span></td>
            <td><span th:text="${sold.get(5)}"></span></td>
            <td><span th:text="${sold.get(4)}"></span></td>
        </tr>
        <tr th:if="${sold.get(6)>0}">
            <td><span th:text="${#temporals.format(dt.get(3), 'MMM yyyy')}"></span></td>
            <td><span th:text="${sold.get(7)}"></span></td>
            <td><span th:text="${sold.get(6)}"></span></td>
        </tr>
        <tr th:if="${sold.get(8)>0}">
            <td><span th:text="${#temporals.format(dt.get(4), 'MMM yyyy')}"></span></td>
            <td><span th:text="${sold.get(9)}"></span></td>
            <td><span th:text="${sold.get(8)}"></span></td>
        </tr>
        <tr th:if="${sold.get(10)>0}">
            <td><span th:text="${#temporals.format(dt.get(5), 'MMM yyyy')}"></span></td>
            <td><span th:text="${sold.get(11)}"></span></td>
            <td><span th:text="${sold.get(10)}"></span></td>
        </tr>
        <tr th:if="${sold.get(12)>0}">
            <td><span th:text="${#temporals.format(dt.get(6), 'MMM yyyy')}"></span></td>
            <td><span th:text="${sold.get(13)}"></span></td>
            <td><span th:text="${sold.get(12)}"></span></td>
        </tr>
        <tr th:if="${sold.get(14)>0}">
            <td><span th:text="${#temporals.format(dt.get(7), 'MMM yyyy')}"></span></td>
            <td><span th:text="${sold.get(15)}"></span></td>
            <td><span th:text="${sold.get(14)}"></span></td>
        </tr>
        <tr th:if="${sold.get(16)>0}">
            <td><span th:text="${#temporals.format(dt.get(8), 'MMM yyyy')}"></span></td>
            <td><span th:text="${sold.get(17)}"></span></td>
            <td><span th:text="${sold.get(16)}"></span></td>
        </tr>
        <tr th:if="${sold.get(18)>0}">
            <td><span th:text="${#temporals.format(dt.get(9), 'MMM yyyy')}"></span></td>
            <td><span th:text="${sold.get(19)}"></span></td>
            <td><span th:text="${sold.get(18)}"></span></td>
        </tr>
        <tr th:if="${sold.get(20)>0}">
            <td><span th:text="${#temporals.format(dt.get(10), 'MMM yyyy')}"></span></td>
            <td><span th:text="${sold.get(21)}"></span></td>
            <td><span th:text="${sold.get(20)}"></span></td>
        </tr>
        <tr th:if="${sold.get(22)>0}">
            <td><span th:text="${#temporals.format(dt.get(11), 'MMM yyyy')}"></span></td>
            <td><span th:text="${sold.get(23)}"></span></td>
            <td><span th:text="${sold.get(22)}"></span></td>
        </tr>
        <tr th:if="${sold.get(22)>0}">
            <td><span th:text="${#temporals.format(dt.get(12), 'MMM yyyy')}"></span></td>
            <td><span th:text="${sold.get(25)}"></span></td>
            <td><span th:text="${sold.get(24)}"></span></td>
        </tr>
        <tr th:if="${sold.get(22)>0}">
            <td><span th:text="${#temporals.format(dt.get(13), 'MMM yyyy')}"></span></td>
            <td><span th:text="${sold.get(27)}"></span></td>
            <td><span th:text="${sold.get(26)}"></span></td>
        </tr>
        <tr th:if="${sold.get(22)>0}">
            <td><span th:text="${#temporals.format(dt.get(14), 'MMM yyyy')}"></span></td>
            <td><span th:text="${sold.get(29)}"></span></td>
            <td><span th:text="${sold.get(28)}"></span></td>
        </tr>
        <tr th:if="${sold.get(22)>0}">
            <td><span th:text="${#temporals.format(dt.get(15), 'MMM yyyy')}"></span></td>
            <td><span th:text="${sold.get(31)}"></span></td>
            <td><span th:text="${sold.get(30)}"></span></td>
        </tr>
        <tr th:if="${sold.get(22)>0}">
            <td><span th:text="${#temporals.format(dt.get(16), 'MMM yyyy')}"></span></td>
            <td><span th:text="${sold.get(33)}"></span></td>
            <td><span th:text="${sold.get(32)}"></span></td>
        </tr>
        <tr th:if="${sold.get(22)>0}">
            <td><span th:text="${#temporals.format(dt.get(17), 'MMM yyyy')}"></span></td>
            <td><span th:text="${sold.get(35)}"></span></td>
            <td><span th:text="${sold.get(34)}"></span></td>
        </tr>
        <tr th:if="${sold.get(22)>0}">
            <td><span th:text="${#temporals.format(dt.get(18), 'MMM yyyy')}"></span></td>
            <td><span th:text="${sold.get(37)}"></span></td>
            <td><span th:text="${sold.get(36)}"></span></td>
        </tr>
        <tr th:if="${sold.get(22)>0}">
            <td><span th:text="${#temporals.format(dt.get(19), 'MMM yyyy')}"></span></td>
            <td><span th:text="${sold.get(39)}"></span></td>
            <td><span th:text="${sold.get(38)}"></span></td>
        </tr>
        <tr th:if="${sold.get(22)>0}">
            <td><span th:text="${#temporals.format(dt.get(20), 'MMM yyyy')}"></span></td>
            <td><span th:text="${sold.get(41)}"></span></td>
            <td><span th:text="${sold.get(40)}"></span></td>
        </tr>
        <tr th:if="${sold.get(22)>0}">
            <td><span th:text="${#temporals.format(dt.get(21), 'MMM yyyy')}"></span></td>
            <td><span th:text="${sold.get(43)}"></span></td>
            <td><span th:text="${sold.get(42)}"></span></td>
        </tr>
        <tr th:if="${sold.get(22)>0}">
            <td><span th:text="${#temporals.format(dt.get(22), 'MMM yyyy')}"></span></td>
            <td><span th:text="${sold.get(45)}"></span></td>
            <td><span th:text="${sold.get(44)}"></span></td>
        </tr>
        <tr th:if="${sold.get(22)>0}">
            <td><span th:text="${#temporals.format(dt.get(23), 'MMM yyyy')}"></span></td>
            <td><span th:text="${sold.get(47)}"></span></td>
            <td><span th:text="${sold.get(46)}"></span></td>
        </tr>
        </tbody>
    </table>
    <div><br><br></div>
    <!--
RAPORT TYGODNIOWY ZE SPRZEDAŻY  -->
    <div class="row justify-content-md-center"><h4>Raport tygodniowy</h4></div>
    <div class="row justify-content-md-center">


        <table class="table-sm table-striped">
            <!--    <caption>Sprzedaż tygodniowa</caption> -->
            <thead>
            <tr>
                <th>Tydzień</th>
                <th>Bega</th>
                <th>Wójcik</th>
                <th>Inne</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="i : ${#numbers.sequence(0, 11)}">
                <td><span th:text="${dtW.get(i)}"></span></td>
                <td><span th:text="${weeklyBega.get(i)}"></span></td>
                <td><span th:text="${weeklyWojcik.get(i)}"></span></td>
                <td><span th:text="${weeklyOther.get(i)}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- koniec raportu tygodnioweg -->
    <div><br><br></div>
</div>
<br><br>
<script>
    $(document).ready(function () {
        $('table.highchart').highchartTable();
    });

</script>
</body>
</html>