<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head th:replace="fragments/header :: header"></head>
<body class="calc">
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <div><br><br></div>
    <div class="row justify-content-md-center"><h4>Raport miesięczny - kierowcy</h4></div>
    <div class="row justify-content-md-center">
        <form th:action="@{/raporty/kierowcy}" th:method="post">
            <div class="form-row align-items-center">
                <div class="col-auto my-1">
                    <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">MIESIĄC</div>
                        </div>
                        <select class="custom-select mr-sm-2" id="inlineFormInputGroupUsername" required
                                name="loadDate">
                                <option selected value="">wybierz miesiąc...</option>
                            <option th:each="u : ${range3}" th:value="${u.year}+'-'+${u.monthValue}+'-01'"
                                    th:text="${u.month}+' '+${u.year}"
                            ></option>
                        </select>
                    </div>
                </div>
                <div class="col-auto my-1">
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" required name="person">
                        <option th:value="0" th:text="${'WSZYSCY'}" selected>WSZYSCY</option>
                        <option  th:if="${u.active}" th:each="u : ${drivers}" th:value="${u.id}"
                                th:text="${u.driverSurname} + ' ' + ${u.driverName}"></option>
                    </select>
                </div>
                <div class="col-auto my-1">
                    <button type="submit" class="btn btn-danger">GENERUJ RAPORT</button>
                </div>
            </div>
        </form>
        <!-- tabela raportu miesiac/osoba -->
<!--        <table class="table-sm table-striped" id="export">
            <thead>
            <tr style="font-weight: bold">
                <td>Lp.<span style="visibility: hidden"> </span></td>
                <td>TURA</td>
                <td>DATA ZAŁ.</td>
                <td>NR</td>
                <td>ZAŁADUNEK</td>
                <td>ROZŁADUNKI</td>
                <td>CENA NASZA</td>
                <td>CENA PRZEW.</td>
                <td>ZYSK</td>
                <td>PRZEWOŹNIK</td>
                <td>T/S</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="one,iterStat : ${orders}">
                <td th:text="${iterStat.index}+1">LP</td>
                <td><strong><span th:text="${one.orderNumber}"></span></strong></td>
                <td><span th:text="${one.loadDate}"></span></td>
                <td><span
                        th:text="${one.ourNumber!=null} ? ${one.ourNumber} : (${#strings.length(one.id)<3} ? ${one.id}+'.' : ${#strings.substring(one.id,0,3)}+'.')"></span>
                </td>
                <td>
                    <span th:text="${one.loadingCity}"></span>
                </td>
                <td>
                    <span th:if="${one.cityCodes!=null}" th:text="${one.cityCodes}"></span>
                </td>
                <td><span th:if="${one.price!=null}" th:text="${one.price}+' €'"></span></td>
                <td><span th:if="${one.freighterPrice!=null}" th:text="${one.freighterPrice}+' €'"></span></td>
                <td><span th:if="${one.price!=null} and ${one.freighterPrice!=null}"
                          th:text="${one.price}-${one.freighterPrice}+' €'"></span></td>
                <td><span th:if="${one.freighter!=null}" th:text="${one.freighter.freighterName}"></span></td>
                <td><span th:if="${one.user!=null}" th:text="${one.user.userName}"></span></td>
            </tr>
            </tbody>
        </table>-->

        <table th:fragment="tableimports" class="table-sm table-bordered table-hover" id="export"
               xmlns:th="http://www.thymeleaf.org/" >
            <thead>
            <tr style="font-weight: bold">

                <td colspan="6">EXPORT</td>
                <td class="import" colspan="6">IMPORT</td>
            </tr>
            <tr style="font-weight: bold">
                <td style="width: 3%">Lp.</td>
                <td style="width: 7%">TURA</td>
                <td style="width: 9%">KIEROWCA</td>
                <td style="width: 6%">DATA ZAŁ.</td>
                <td style="width: 6%">FABRYKA</td>
                <td style="width: 9%">OSTATNI ROZŁAD.</td>


                <td class="import" style="width: 5%">DOJAZD</td>
                <td class="import" style="width: 8%">SKĄD</td>
                <td class="import" style="width: 8%">DOKĄD</td>
                <td class="import" style="width: 6%">STAWKA</td>
                <td class="import" style="width: 7%">KTO ZNALAZŁ</td>

                <td class="import" style="width: 7%">NAST. ZAŁADUNEK</td>


            </tr>
            </thead>
            <tbody>
            <tr th:each="one,iterStat : ${orders}">
                <td th:text="${iterStat.index}+1">LP</td>
                <td><strong><span th:text="${one.orderNumber}"></span></strong></td>
                <td><span th:if="${one.driver!=null}"
                          th:text="${#strings.substring(one.driver.driverName,0,1)}  + '.' + ${one.driver.driverSurname}"></span>
                </td>
                <td><span th:text="${one.loadDate}"></span></td>
                <td><span th:if="${one.factory!=null}"
                          th:text="${one.loadingCity}"></span></td>
                <td >
            <span th:if="${one.cityCodes!=null}"
                  th:text="${#strings.arraySplit(one.cityCodes, ',')[#arrays.length(#strings.arraySplit(one.cityCodes, ',')) - 1]}"></span>
                </td>
                                <td>
            <span th:if="${one.kilometersImp!=null}"
                  th:text="${one.kilometersImp}+' km'"></span>
                </td>
                <td >
            <span th:if="${one.loadingCityImp!=null}"
                  th:text="${one.loadingCityImp}"></span>
                </td>
                <td>
            <span th:if="${one.cityCodesImp!=null}"
                  th:text="${one.cityCodesImp}"></span>
                </td>
                <td>
           <span th:if="${one.priceImp!=null}"
                 th:text="${#numbers.formatDecimal(one.priceImp,0,0,'COMMA')}+' €'"></span>
                </td>
                <td>
           <span th:if="${one.userImp!=null}"
                 th:text="${one.userImp}"></span>
                </td>
                          <td>
            <span th:if="${one.nextLoadingCityImp!=null}"
                  th:text="${one.nextLoadingCityImp}"></span>
                </td>
                        </tr>
            </tbody>
            <tfoot>

            </tfoot>
        </table>



    </div>
</div>
<script>
    $("#export").sumtabletotal({
        totalIndexArry: [9],
         "colspan": 1,
        "totalText": "SUMA",
        "color": "#dc3545",
        "placeholder": " ",
        "significant": 2
    });

</script>
<script>
    $("#export").tableExport({
        formats: ["csv"],
        trimWhitespace: true
    });

</script>
</body>
</html>