<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head th:replace="fragments/header :: header"></head>
<body>

<nav th:replace="fragments/navbar :: navbar"></nav>
<table th:if="${order != null}" class="table table-bordered">
    <thead>
    <tr style="font-weight: bold">
        <!--<td th:if="${order != null}" th:text="'Id'"></td>-->
        <td th:if="${order != null}" th:text="'TURA'"></td>
        <td th:if="${order != null}" th:text="'GODZ. ZAŁ.'"></td>
        <td th:if="${order != null}" th:text="'FABRYKA'"></td>
        <td th:if="${order != null}" th:text="'DATA ZAŁ.'"></td>
        <td th:if="${order != null}" th:text="'NR ZLEC.'"></td>
        <td th:if="${order != null}" th:text="'ZAŁADUNEK'"></td>
        <td th:if="${order != null}" th:text="'ROZŁADUNKI'"></td>
        <td th:if="${order != null}" th:text="'KM'"></td>
        <td th:if="${order != null}" th:text="'CENA NASZA'"></td>
        <td th:if="${order != null}" th:text="'CENA PRZEW.'"></td>
        <td th:if="${order != null}" th:text="'PRZEWOŹNIK'"></td>
        <td th:if="${order != null}" th:text="'T/S'"></td>
    </tr>
    </thead>
    <tr>
        <!--  <td><span th:text="${order.id}"></span></td>-->
        <td><span th:text="${order.orderNumber}"></span></td>
        <td><span th:text="${order.loadHour}"></span></td>
        <td><span th:if="${order.factory!=null}"
                  th:text="${order.getFactory().factoryName}"></span></td>
        <td><span th:text="${order.loadDate}"></span></td>
        <td><span
                th:text="${order.ourNumber!=null} ? ${order.ourNumber} : (${#strings.length(order.id)<4} ? ${order.id}+'.' : ${#strings.substring(order.id,(#strings.length(order.id)-3),(#strings.length(order.id)))}+'.')"></span>
        </td>
        <td><span th:text="${order.loadingCity}"></span></td>
        <td><span th:if="${order.cityCodes!=null}" th:text="${order.cityCodes}"></span></td>
        <td><span th:text="${order.kilometers}"></span></td>
        <td><span th:text="${order.price}"></span></td>
        <td><span th:text="${order.freighterPrice}"></span></td>
        <td><span th:if="${order.freighter!=null}" th:text="${order.getFreighter().freighterName}"></span></td>
        <td><span th:if="${order.user!=null}" th:text="${order.getUser().userName}"></span></td>
    </tr>
</table>
<div th:if="${info!=null}" style="display:flex;justify-content:center;align-items:center;background-color: #6495ED">
    <div class="alert">
        <th:block th:if="${info!=null}" th:switch="${info}">
<span th:case="*{info.ERROR}" th:text="#{Order.info.error}"
      th:class="${'alert alert-danger'}"></span>
            <span th:case="*{info.DUPLICAT}" th:text="#{Order.info.duplicat}" th:class="${'alert alert-danger'}"></span>
            <span th:case="*{info.EDIT}" th:text="#{Edit.info.edited}"
                  th:class="${'alert alert-success'}"></span>
        </th:block>
    </div>
</div>
<!--formularz start-->
<div class="container-fluid" style="background-color: lightgrey">
    <div style="padding-top: 25px;padding-bottom: 25px">
        <p style="font-weight: bold">EDYCJA</p>
        <form method="post" th:action="@{/edycjazlecenie/{id}(id=${order.id})}" th:object="${order}">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">TURA</label>
                <div class="col-sm-2">
                    <input class="form-control" id="inputEmail3" name="orderNumber" type="text"
                           th:value="${order.getOrderNumber()}">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail0" class="col-sm-2 col-form-label">GODZ. ZAŁADUNKU</label>
                <div class="col-sm-2">
                    <input class="form-control" id="inputEmail0" name="loadHour" type="text"
                           th:value="${order.getLoadHour()}">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail34" class="col-sm-2 col-form-label">NR ZLECENIA</label>
                <div class="col-sm-2">
                    <input class="form-control" id="inputEmail34" name="ourNumber" type="text"
                           th:value="${order.ourNumber!=null} ? ${order.ourNumber} : (${#strings.length(order.id)<4} ? ${order.id}+'.' : ${#strings.substring(order.id,(#strings.length(order.id)-3),(#strings.length(order.id)))}+'.')">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail4" class="col-sm-2 col-form-label">DATA ZAŁADUNKU</label>
                <div class="col-sm-2">
                    <input name="loadDate" type="date" th:value="${order.getLoadDate()}" class="form-control"
                           id="inputEmail4">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail343" class="col-sm-2 col-form-label">ZAŁADUNEK</label>
                <div class="col-sm-2">
                    <input class="form-control" id="inputEmail343" name="loadingCity" type="text"
                           th:value="${order.getLoadingCity()}">
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleFormControlSelect22" class="col-sm-2 col-form-label">ROZŁADUNKI</label>
                <div class="col-sm-2">
                    <textarea th:field="*{cityCodes}" th:wrap="hard" name="cityCodes" class="form-control"
                              id="exampleFormControlSelect22"
                              rows="3"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail50" class="col-sm-2 col-form-label">KILOMETRY</label>
                <div class="col-sm-2">
                    <input name="kilometers" th:value="${order.getKilometers()}" type="number" step="1"
                           class="form-control"
                           id="inputEmail50">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail5" class="col-sm-2 col-form-label">CENA NASZA</label>
                <div class="col-sm-2">
                    <input name="price" th:value="${order.getPrice()}" type="number" step="1" class="form-control"
                           id="inputEmail5">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail6" class="col-sm-2 col-form-label">CENA PRZEWOŹNIKA</label>
                <div class="col-sm-2">
                    <input name="freighterPrice" th:value="${order.getFreighterPrice()}" type="number" step="1"
                           class="form-control" id="inputEmail6">
                </div>
            </div>

            <div class="form-group row">
                <label for="cars" class="col-sm-2 col-form-label">PRZEWOŹNIK</label>
                <div class="col-sm-2" th:object="${freighters}">

                    <!--   <select th:if="${order.freighter}!=null" name="freighter" class="form-control" id="exampleFormControlSelect2">
                           &lt;!&ndash; <option value=" ">Wybierz przewoźnika:</option>&ndash;&gt;
                            <option  th:each="f : ${freightersasc}" th:value="${f.id}"
                                    th:text="${f.freighterName}" th:selected="${f.freighterName== order.getFreighter().freighterName}"></option>
                           &lt;!&ndash; <option th:if="${order.freighter}==null" th:each="f : ${freightersasc}" th:value="${f.id}"
                                    th:text="${f.freighterName}"></option>&ndash;&gt;
                        </select>


                        <input th:if="${order.freighter}==null" type="text" list="cars" name="freighter" class="form-control"/>
                        <datalist id="cars">
                            <option value=" ">Wybierz lub wpisz przewoźnika:</option>
                         &lt;!&ndash;   <option th:if="${order.freighter}!=null" th:each="f : ${freighters}" th:value="${f.id}"
                                    th:text="${f.freighterName}" th:selected="${f.id == order.getFreighter().id}"></option>&ndash;&gt;
                            <option  th:each="f : ${freighters}" th:value="${f.id}" th:text="${f.freighterName}"> </option>
                        </datalist>-->

                    <select name="freighter" class="js-example-tags" id="cars">
                        <option value=" ">Wybierz lub wpisz przewoźnika:</option>
                        <option th:if="${order.freighter}!=null" th:each="f : ${freighters}" th:value="${f.id}"
                                th:text="${f.freighterName}" th:selected="${f.id == order.getFreighter().id}"></option>
                        <option th:if="${order.freighter}==null" th:each="f : ${freighters}" th:value="${f.id}"
                                th:text="${f.freighterName}"></option>
                    </select>
                    <script>
                    $(".js-example-tags").select2({
                    tags: true
                    });
                    </script>
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleFormControlSelect1" class="col-sm-2 col-form-label">T/S</label>
                <div class="col-sm-2" th:object="${users}">
                    <select name="user" class="form-control" id="exampleFormControlSelect1">
                        <option value=" ">Wybierz osobę:</option>
                        <option th:if="${order.user}!=null" th:each="u : ${users}" th:value="${u.id}"
                                th:text="${u.userName}" th:selected="${u.id == order.getUser().id}"></option>
                        <option th:if="${order.user}==null" th:each="u : ${users}" th:value="${u.id}"
                                th:text="${u.userName}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail667" class="col-sm-2 col-form-label">OSTATNIA MODYFIKACJA:</label>
                <div class="col-sm-2">
                    <input name="queryTime" th:value="${#temporals.format(order.getQueryTime(), 'dd-MM-yyyy HH:mm')}"
                           class="form-control" id="inputEmail667" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail6678" class="col-sm-2 col-form-label"> </label>
                <div class="col-sm-2">
                    <input name="ipaddress" th:value="${order.getIpaddress()}"
                           class="form-control" id="inputEmail6678" disabled>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">

                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-success btn-lg">ZAPISZ</button>
                    <a href="/zlecenia" class="btn btn-secondary btn-lg">WYJDŹ</a>
                </div>
            </div>
        </form>
        <!--formularz end-->
    </div>
</div>
</body>
</html>