<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head th:replace="fragments/header :: header"></head>
<body>
<!--navbar menu start-->
<nav th:replace="fragments/navbar :: navbar"></nav>
<!--navbar menu koniec-->
<!--poczatek tabeli tura-->
<table class="table table-bordered table-hover">
    <thead>
    <tr style="font-weight: bold">
        <td>IMIĘ</td>
        <td>NAZWISKO</td>
        <td>CIĄGNIK</td>
        <td>NACZEPA</td>
        <td>SPEDYTOR</td>
    </tr>
    </thead>
    <tr th:each="d : ${drivers}">
        <td><span th:text="${d.driverName}"></span></td>
        <td><span th:text="${d.driverSurname}"></span></td>
        <td><span th:text="${d.driverCar}"></span></td>
        <td><span th:text="${d.driverSemitrailer}"></span></td>
        <td><span th:if="${d.user!=null}" th:text="${d.user.userName}"></span></td>
    </tr>
</table>
<!-- koniec tabelki -->
<!--formularz EDYCJI start-->
<div class="container-fluid" style="background-color: lightgrey">
    <div style="padding-top: 25px;padding-bottom: 25px">
        <p style="font-weight: bold">EDYCJA</p>
        <form  method="post" th:action="@{/edycjakierowca/{id}(id=${drivers.id})}" th:object="${drivers}">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">IMIĘ</label>
                <div class="col-sm-2">
                    <input  th:value="${drivers.getDriverName()}" name="driverName" type="text" class="form-control" id="inputEmail3"
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail32" class="col-sm-2 col-form-label">NAZWISKO</label>
                <div class="col-sm-2">
                    <input  th:value="${drivers.getDriverSurname()}" name="driverSurname" type="text" class="form-control" id="inputEmail32"
                    >
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail4" class="col-sm-2 col-form-label">CIĄGNIK</label>
                <div class="col-sm-2">
                    <input th:value="${drivers.getDriverCar()}" name="driverCar" type="text" class="form-control" id="inputEmail4">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail9" class="col-sm-2 col-form-label">NACZEPA</label>
                <div class="col-sm-2">
                    <input th:value="${drivers.getDriverSemitrailer()}" name="driverSemitrailer" type="text" class="form-control" id="inputEmail9">
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleFormControlSelect1" class="col-sm-2 col-form-label">SPEDYTOR</label>
                <div class="col-sm-2" th:object="${users}">
                    <select name="user" class="form-control" id="exampleFormControlSelect1">
                        <option value=" ">Wybierz osobę:</option>
                        <option th:if="${drivers.user}!=null" th:value="${drivers.getUser().id}"
                                th:text="${drivers.getUser().userName}"
                                th:selected="${drivers.getUser().userName}"></option>
                        <option th:if="${drivers.user}!=null and ${u.active}" th:each="u : ${users}" th:value="${u.id}"
                                th:text="${u.userName}"></option>
                        <option th:if="${drivers.user}==null and ${u.active}" th:each="u : ${users}" th:value="${u.id}"
                                th:text="${u.userName}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail99" class="col-sm-2 col-form-label">is active</label>
                <div class="col-sm-2">
                    <input  th:checked="${drivers.active}" name="active" type="checkbox" class="form-check-input" id="inputEmail99">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-2">

                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-success">ZAPISZ</button>
                    <a href="/kierowcy" class="btn btn-danger">ANULUJ</a>
                </div>
            </div>
        </form>
        <!--formularz end-->
    </div>
</div>
</body>
</html>