<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head th:replace="fragments/header :: header"></head>
<body>

<nav th:replace="fragments/navbar :: navbar"></nav>

<table th:fragment="tableimports" class="table-sm table-bordered table-hover" id="export"
       xmlns:th="http://www.thymeleaf.org/">
    <thead>
    <tr style="font-weight: bold">
        <td colspan="7">EXPORT</td>
        <td class="import" colspan="4">IMPORT</td>
    </tr>
    <tr style="font-weight: bold">
        <td style="width: 6%">TURA</td>
        <td style="width: 10%">KIEROWCA</td>
        <td style="width: 9%">GDZIE SKOŃCZYŁ</td>
        <td style="width: 4%">DATA ZAŁ.</td>
        <td style="width: 9%">FABRYKA</td>
        <td style="width: 9%">OSTATNI ROZŁAD.</td>
       <td style="width: 8%">KIEDY KOŃCZY</td>
  <!--      <td style="width: 9%">DATA DOK.</td>-->

       <!-- <td class="import" style="width: 9%">DOJAZD KM</td>-->
        <td class="import" style="width: 9%">KABOTAŻ</td>
        <td class="import" style="width: 9%">SKĄD</td>
        <td class="import" style="width: 9%">DOKĄD</td>
        <td class="import" style="width: 9%">STAWKA</td>
        <td class="import" style="width: 9%">KTO ZNALAZŁ</td>
<!--        <td class="import" style="width: 9%">DATA DOK.</td>-->
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><strong><span th:text="${order.orderNumber}"></span></strong></td>
        <td><span th:if="${order.driver!=null}"
                  th:text="${#strings.substring(order.driver.driverName,0,1)}  + '.' + ${order.driver.driverSurname}"></span>
        </td>
        <td>
            <span th:if="${order.nextLoadingCityImp!=null}"
                  th:text="${order.nextLoadingCityImp}"></span>
        </td>
        <td><span th:text="${order.loadDate}"></span></td>
        <td><span th:text="${order.cabotage}"></span></td>
        <td><span th:if="${order.factory!=null}"
                  th:text="${order.loadingCity}"></span></td>
        <td>
            <span th:if="${order.cityCodes!=null}"
                  th:text="${#strings.arraySplit(order.cityCodes, ',')[#arrays.length(#strings.arraySplit(order.cityCodes, ',')) - 1]}"></span>
        </td>
        <td>
            <span th:if="${order.exportEnd!=null}"
                  th:text="${order.exportEnd}"></span>
        </td>
<!--        <td>
            <span th:if="${order.docDateExp!=null}"
                  th:text="${order.docDateExp}"></span>
        </td>-->
<!--        <td>
           <span th:if="${order.kilometersImp!=null}"
                 th:text="${order.kilometersImp}+ ' km'"></span>
        </td>-->
        <td>
            <span th:if="${order.loadingCityImp!=null}"
                  th:text="${order.loadingCityImp}"></span>
        </td>
        <td>
            <span th:if="${order.cityCodesImp!=null}"
                  th:text="${order.cityCodesImp}"></span>
        </td>
        <td>
            <span th:if="${order.priceImp!=null}"
                  th:text="${order.priceImp}+ ' €'"></span>
        </td>
        <td>
           <span th:if="${order.userImp!=null}"
                 th:text="${order.userImp}"></span>
        </td>
  <!--      <td>
            <span th:if="${order.docDateImp!=null}"
                  th:text="${order.docDateImp}"></span>
        </td>-->
    </tr>
    </tbody>
</table>


<!--
<div th:if="${info!=null}" style="display:flex;justify-content:center;align-items:center;background-color: #6495ED">
    <div class="alert">
        <th:block th:if="${info!=null}" th:switch="${info}">
<span th:case="*{info.ERROR}" th:text="#{Order.info.error}"
      th:class="${'alert alert-danger'}"></span>
            <span th:case="*{info.DUPLICAT}" th:text="#{Order.info.duplicat}" th:class="${'alert alert-danger'}"></span>
            <span th:case="*{info.EDIT}" th:text="#{Edit.info.edited}"
                  th:class="${'alert alert-success'}"></span>
        </th:block>
    </div>
</div>-->


<!--formularz start-->
<div class="container-fluid" style="background-color: lightgrey">
    <div style="padding-top: 25px;padding-bottom: 25px">
        <p style="font-weight: bold">EDYCJA</p>
        <form method="post" th:action="@{/edycjaimport/{id}(id=${order.id})}" th:object="${order}">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">TURA</label>
                <div class="col-sm-2">
                    <input class="form-control" id="inputEmail3" name="orderNumber" type="text" disabled
                           th:value="${order.getOrderNumber()}">
                </div>
            </div>

            <div class="form-group row" th:if="${logged.role} == 2 OR ${logged.role} == 3 OR ${logged.role} == 21">
                <label for="otherFieldDiv" class="col-sm-2 col-form-label">KIEROWCA</label>
                <div class="col-sm-2" th:object="${drivers}">
                    <select name="driver" class="form-control" id="otherFieldDiv" style="border:2px solid tomato;">
                        <option value=" ">Wybierz kierowcę:</option>
                        <option th:if="${order.driver}!=null"  th:value="${order.getDriver().id}"
                                th:text="${order.getDriver().driverName + ' ' + order.getDriver().driverSurname}"
                                th:selected="${order.getDriver().driverName + ' ' + order.getDriver().driverSurname}"></option>
                        <option th:if="${order.driver}!=null and ${d.active}" th:each="d : ${drivers}" th:value="${d.id}"
                                th:text="${d.driverSurname + ' ' + d.driverName}"></option>
                        <option th:if="${order.driver}==null and ${d.active}" th:each="d : ${drivers}" th:value="${d.id}"
                                th:text="${d.driverSurname + ' ' + d.driverName}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group row" th:if="${logged.role} == 2 OR ${logged.role} == 3 OR ${logged.role} == 21">
                <label for="inputEmail36778" class="col-sm-2 col-form-label">GDZIE SKOŃCZYŁ</label>
                <div class="col-sm-2">
                    <input class="form-control" id="inputEmail36778" name="nextLoadingCityImp" type="text"
                           th:value="${order.getNextLoadingCityImp()}" style="border:2px solid tomato;">
                </div>
            </div>
            <div class="form-group row" th:if="${logged.role} == 2 OR ${logged.role} == 3 OR ${logged.role} == 21">
                <label for="inputEmail47" class="col-sm-2 col-form-label">KIEDY KOŃCZY</label>
                <div class="col-sm-2">
                    <input name="exportEnd" type="text" th:value="${order.getExportEnd()}" class="form-control"
                           id="inputEmail47" style="border:2px solid tomato;">
                </div>
            </div>
        <!--    <div class="form-group row" th:if="${logged.role} == 1 OR ${logged.role} == 3">
                <label for="inputEmail4" class="col-sm-2 col-form-label">DATA DOK. EXP.</label>
                <div class="col-sm-2">
                    <input name="docDateExp" type="date" th:value="${order.getDocDateExp()}" class="form-control"
                           id="inputEmail4" style="border:2px solid tomato;">
                </div>
            </div>-->
<!--            <div class="form-group row" th:if="${logged.role} == 2 OR ${logged.role} == 3 OR ${logged.role} == 21">
                <label for="inputEmail367" class="col-sm-2 col-form-label">DOJAZD KM</label>
                <div class="col-sm-2">
                    <input class="form-control" id="inputEmail367" name="kilometersImp" type="number"
                           th:value="${order.getKilometersImp()}" style="border:2px solid dodgerblue;">
                </div>
            </div>-->
            <div class="form-group row" th:if="${logged.role} == 2 OR ${logged.role} == 3 OR ${logged.role} == 21">
                <label for="inputEmail367" class="col-sm-2 col-form-label">KABOTAŻ</label>
                <div class="col-sm-2">
                    <input class="form-control" id="inputEmail367" name="cabotage" type="number" step="1"
                           th:value="${order.getCabotage()}" style="border:2px solid dodgerblue;">
                </div>
            </div>
            <div class="form-group row" th:if="${logged.role} == 2 OR ${logged.role} == 3 OR ${logged.role} == 21">
                <label for="inputEmail36" class="col-sm-2 col-form-label">SKĄD</label>
                <div class="col-sm-2">
                    <input class="form-control" id="inputEmail36" name="loadingCityImp" type="text"
                           th:value="${order.getLoadingCityImp()}" style="border:2px solid dodgerblue;">
                </div>
            </div>
            <div class="form-group row" th:if="${logged.role} == 2 OR ${logged.role} == 3 OR ${logged.role} == 21">
                <label for="inputEmail3677" class="col-sm-2 col-form-label">DOKĄD</label>
                <div class="col-sm-2">
                    <input class="form-control" id="inputEmail3677" name="cityCodesImp" type="text"
                           th:value="${order.getCityCodesImp()}" style="border:2px solid dodgerblue;">
                </div>
            </div>
            <div class="form-group row" th:if="${logged.role} == 2 OR ${logged.role} == 3 OR ${logged.role} == 21">
                <label for="inputEmail367789" class="col-sm-2 col-form-label">STAWKA</label>
                <div class="col-sm-2">
                    <input class="form-control" id="inputEmail367789" name="priceImp" type="number" step="1"
                           th:value="${order.getPriceImp()}" style="border:2px solid dodgerblue;">
                </div>
            </div>
            <div class="form-group row" th:if="${logged.role} == 2 OR ${logged.role} == 3 OR ${logged.role} == 21">
                <label for="otherFieldDiv33" class="col-sm-2 col-form-label">KTO ZNALAZŁ</label>
                <div class="col-sm-2" th:object="${users}">
                    <select name="userImp" class="form-control" id="otherFieldDiv33"
                            style="border:2px solid dodgerblue;">
                        <option value=" ">Wybierz osobę:</option>
                        <option th:if="${order.userImp}!=null" th:value="${order.getUserImp()}"
                                th:text="${order.getUserImp()}"
                                th:selected="${order.getUserImp()}"></option>
                        <option th:if="${order.userImp}!=null and ${d.active}" th:each="d : ${users}" th:value="${d.userName}"
                                th:text="${d.userName}"></option>
                        <option th:if="${order.userImp}==null and ${d.active}" th:each="d : ${users}" th:value="${d.userName}"
                                th:text="${d.userName}"></option>
                    </select>
                </div>
            </div>
           <!-- <div class="form-group row" th:if="${logged.role} == 1 OR ${logged.role} == 3">
                <label for="inputEmail48" class="col-sm-2 col-form-label">DATA DOK. IMP.</label>
                <div class="col-sm-2">
                    <input name="docDateImp" type="date" th:value="${order.getDocDateImp()}" class="form-control"
                           id="inputEmail48" style="border:2px solid dodgerblue;">
                </div>
            </div>-->
            <div class="form-group row" th:if="${logged.role} == 2 OR ${logged.role} == 3 OR ${logged.role} == 21">
                <label for="inputEmail667" class="col-sm-2 col-form-label">OSTATNIA MODYFIKACJA:</label>
                <div class="col-sm-2">
                    <input name="queryTimeImp"
                           th:value="${#temporals.format(order.getQueryTimeImp(), 'dd-MM-yyyy HH:mm')}"
                           class="form-control" id="inputEmail667" disabled>
                </div>
            </div>
            <div class="form-group row" th:if="${logged.role} == 2 OR ${logged.role} == 3 OR ${logged.role} == 21">
                <label for="inputEmail6678" class="col-sm-2 col-form-label"> </label>
                <div class="col-sm-2">
                    <input name="ipaddressImp" th:value="${order.getIpaddressImp()}"
                           class="form-control" id="inputEmail6678" disabled>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">

                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-success btn-lg">ZAPISZ</button>
                    <a href="/naszeauta/tydzien" class="btn btn-secondary btn-lg">WYJDŹ</a>
                </div>
            </div>
        </form>
        <!-- formularz end-->
    </div>
</div>
</body>
</html>