<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head th:replace="fragments/header :: header"></head>
<body>
<!--navbar menu start-->
<nav th:replace="fragments/navbar :: navbar"></nav>
<!--navbar menu koniec-->
<!--poczatek tabeli tura-->
<table class="table table-bordered table-hover">
    <thead>
    <tr style="font-weight: bold">
        <td>ID</td>
        <td>NAZWA</td>
        <td>OSOBA</td>
        <td>TELEFON</td>
        <td>E-MAIL</td>
        <td>INFO</td>

    </tr>
    </thead>
    <tr th:each="f : ${freighters}">
        <td><span th:text="${f.freighterName}"></span></td>
        <td><span th:text="${f.freighterPerson}"></span></td>
        <td><span th:text="${f.freighterPhone}"></span></td>
        <td><span th:text="${f.freighterEmail}"></span></td>
        <td><span th:text="${f.freighterInfo}"></span></td>
      </tr>
</table>
<!-- koniec tabelki -->
<!--formularz EDYCJI start-->
<div class="container-fluid" style="background-color: lightgrey">
    <div style="padding-top: 25px;padding-bottom: 25px">
        <p style="font-weight: bold">EDYTUJ:</p>
        <form  method="post" th:action="@{/editfreighter/{id}(id=${freighters.id})}" th:object="${freighters}">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">NAZWA</label>
                <div class="col-sm-2">
                    <input  th:value="${freighters.getFreighterName()}" name="freighterName" type="text" class="form-control" id="inputEmail3"
                           >
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail4" class="col-sm-2 col-form-label">OSOBA</label>
                <div class="col-sm-2">
                    <input th:value="${freighters.getFreighterPerson()}" name="freighterPerson" type="text" class="form-control" id="inputEmail4">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail9" class="col-sm-2 col-form-label">TELEFON</label>
                <div class="col-sm-2">
                    <input th:value="${freighters.getFreighterPhone()}" name="freighterPhone" type="text" class="form-control" id="inputEmail9">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail91" class="col-sm-2 col-form-label">EMAIL</label>
                <div class="col-sm-2">
                    <input th:value="${freighters.getFreighterEmail()}" name="freighterEmail" type="email" class="form-control" id="inputEmail91">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail6" class="col-sm-2 col-form-label">INFO</label>
                <div class="col-sm-2">
                    <textarea th:field="*{freighterInfo}" th:wrap="hard" name="freighterInfo" class="form-control" id="inputEmail6" rows="4"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-2">

                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-success">ZAPISZ</button>
                    <a href="/freighter" class="btn btn-danger">ANULUJ</a>
                </div>
            </div>
        </form>
        <!--formularz end-->

    </div>
</div>
</body>
</html>