<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head th:replace="fragments/header :: header"></head>
<body>
<div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
            <h2><br> </h2>
            <h3 class="h3 mb-3 font-weight-normal">Logowanie:</h3>
            <th:block th:if="${info!=null}" th:switch="${info}">
                <span th:case="*{info.BAD_CREDENTIALS}" th:text="#{Login.info.bad.credentials}"
                      th:class="${'alert alert-danger'}"></span>
                <span th:case="*{info.BANNED}" th:text="#{Login.info.banned}" th:class="${'alert alert-danger'}"></span>
                <span th:case="*{info.SUCCESS}" th:text="#{Login.info.success}"
                      th:class="${'alert alert-success'}"></span>
            </th:block>
            <form th:object="${loginForm}" action="/" method="post" class="form-signin">
                <label class="sr-only">Imię:</label>
                <input th:field="*{userName}" name="userName" type="text" id="inputLogin" class="form-control"
                       placeholder="Login" required>
                <label for="inputPassword" class="sr-only">Hasło:</label>
                <input th:field="*{password}" name="password" type="password" id="inputPassword" class="form-control"
                       placeholder="Password"
                       required>
                <div class="checkbox mb-3">
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
            </form>

            <p class="mt-3 mb-3 text-muted"> </p>

        </div>
        <div class="col-sm">

        </div>
    </div>
</div>
</body>
</html>