<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head th:replace="fragments/header :: header"></head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container-fluid" style="background-color: lightgreen">
    <div style="padding-top: 25px;padding-bottom: 5px">
        <form th:replace="fragments/formrange :: formrange"></form>
    </div>
</div>
<!--paginacja-->
<div class="container-fluid" style="background-color: lightgreen">
    <div style="padding-top: 5px;padding-bottom: 15px">
        <nav th:replace="fragments/pagination :: pagination"></nav>
    </div>
</div>
<!--poczatek tabeli tura-->
<table th:replace="fragments/tables/table_orders :: tableorders"></table>
<!-- koniec tabelki -->
<div class="container-fluid" style="background-color: lightgreen">
    <div style="padding-top: 25px;padding-bottom: 5px">
        <form th:replace="fragments/formrange :: formrange"></form>
    </div>
</div>
<!--paginacja-->
<div class="container-fluid" style="background-color: lightgreen">
    <div style="padding-top: 5px;padding-bottom: 15px">
        <nav th:replace="fragments/pagination :: pagination"></nav>
    </div>
</div>
<!--koniec paginacji-->
<!--formularz dodania tury start-->
<div th:replace="fragments/forms/form_ordernew :: ordernew"></div>
<!--formularz dodania tury koniec-->
<script>
    $("table").tableExport({formats: ["csv", "txt"], trimWhitespace: true, ignoreCols: [0, 1, 5, 6, 7, 8, 9, 10, 11]});
</script>
</body>
</html>