<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head th:replace="fragments/header :: header"></head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container-fluid" style="background-color: #17a2b8">
    <div style="padding-top: 25px;padding-bottom: 20px">
        <div class="container-fluid">
            <div class="row" style="padding-top: 5px;padding-bottom: 15px">
                <div class="col-6">
                    <p>Wyszukiwanie tur według zakresu dat:</p>
                    <form th:replace="fragments/formrange :: formrange"></form>
                </div>
                <div class="col-1">

                </div>
                <div class="col-4">
                    <p>Wyszukiwanie tur w aktualnym tygodniu + spady:</p>
                    <form th:replace="fragments/formweek :: formweek"></form>
                </div>
                <div class="col-1">
                    <a href="/zlecenia" class="btn btn-primary">
                        Odśwież
                    </a>
                </div>
            </div>
            <div class="row" style="padding-top: 5px;padding-bottom: 0px">
                <div class="col-11">
                    <!--paginacja-->
                    <nav th:replace="fragments/pagination :: pagination"></nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="display:flex;justify-content:center;align-items:center;background-color: #17a2b8">
    <div class="alert">
        <th:block th:if="${info!=null}" th:switch="${info}">
<span th:case="*{info.ERROR}" th:text="#{Order.info.error}"
      th:class="${'alert alert-danger'}"></span>
            <span th:case="*{info.DUPLICAT}" th:text="#{Order.info.duplicat}" th:class="${'alert alert-danger'}"></span>
            <span th:case="*{info.NOFACTORY}" th:text="#{Order.info.nofactory}" th:class="${'alert alert-danger'}"></span>
            <span th:case="*{info.SUCCESS}" th:text="#{Order.info.success}"
                  th:class="${'alert alert-success'}"></span>
        </th:block>
    </div>
</div>
<!--poczatek tabeli tura-->
<table th:replace="fragments/tables/table_orders :: tableorders"></table>
<!-- koniec tabelki -->
<div class="container-fluid" style="background-color: #17a2b8">
    <div style="padding-top: 25px;padding-bottom: 20px">
        <div class="container-fluid">
            <div class="row" style="padding-top: 5px;padding-bottom: 15px">
                <div class="col-6">
                    <p>Wyszukiwanie tur według zakresu dat:</p>
                    <form th:replace="fragments/formrange :: formrange"></form>
                </div>
                <div class="col-1">

                </div>
                <div class="col-4">
                    <p>Wyszukiwanie tur w aktualnym tygodniu + spady:</p>
                    <form th:replace="fragments/formweek :: formweek"></form>
                </div>
                <div class="col-1">
                    <a href="/orders" class="btn btn-primary">
                        Odśwież
                    </a>
                </div>
            </div>
            <div class="row" style="padding-top: 5px;padding-bottom: 0px">
                <div class="col-11">
                    <!--paginacja-->
                    <nav th:replace="fragments/pagination :: pagination"></nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!--formularz dodania tury start-->
<div th:replace="fragments/forms/form_ordernew :: ordernew"></div>
<!--formularz dodania tury koniec-->
<script>
    $("table").tableExport({
        formats: ["csv", "txt"],
        trimWhitespace: true,
        ignoreCols: [0, 1, 2, 6, 7, 8, 9, 10, 11, 12]
    });
</script>
</body>
</html>