<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head th:replace="fragments/header :: header"></head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<!--poczatek tabeli -->
<table id="export" class="table table-bordered table-hover"  style="font-family: Verdana">
    <thead>
    <tr style="font-weight: bold">
        <td>ID</td>
        <td>IMIĘ</td>
        <td>NAZWISKO</td>
        <td>TELEFON</td>
        <td>INFO</td>
        <td></td>
    </tr>
    </thead>
    <tr th:each="d : ${drivers}">
        <td><span th:text="${d.id}"></span></td>
        <td><span th:text="${d.driverName}"></span></td>
        <td><span th:text="${d.driverSurname}"></span></td>
        <td><span th:text="${d.driverPhone}"></span></td>
        <td><span th:text="${d.driverInfo}"></span></td>
        <td>
            <a class="btn btn-outline-success btn-sm" th:href="@{/edycjakierowca/{id}(id=${d.id})}" role="button">Edytuj</a>
        </td>
    </tr>
</table>
<!-- koniec tabelki -->
<!--formularz start-->
<div class="container-fluid" style="background-color: lightgrey">
    <div style="padding-top: 25px;padding-bottom: 25px">
        <p style="font-weight: bold">NOWA OSOBA</p>
        <form th:action="@{/kierowcy}" th:object="${drivers}" method="post">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">IMIĘ</label>
                <div class="col-sm-2">
                    <input name="driverName" type="text" class="form-control" id="inputEmail3" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail34" class="col-sm-2 col-form-label">NAZWISKO</label>
                <div class="col-sm-2">
                    <input name="driverSurname" type="text" class="form-control" id="inputEmail34" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail4" class="col-sm-2 col-form-label">TELEFON</label>
                <div class="col-sm-2">
                    <input name="driverPhone" type="number" class="form-control" id="inputEmail4">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail9" class="col-sm-2 col-form-label">INFO</label>
                <div class="col-sm-2">
                    <input name="driverInfo" type="text" class="form-control" id="inputEmail9">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-success">+ DODAJ OSOBĘ</button>
                </div>
            </div>
        </form>
        <!--formularz end-->
    </div>
</div>
</body>
</html>