<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head th:replace="fragments/header :: header"></head>
<body class="calc">
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <div class="row justify-content-md-center"><h4>Stawki:</h4>
    </div>


    <table class="table table-striped table-hover" id="export">
        <thead class="thead-dark">
        <tr>
            <td>ID</td>
            <td>KOD</td>
            <td>MIASTO</td>
            <td>KM</td>
            <td>STAWKA</td>
        </tr>
        </thead>
        <tr th:each="s : ${settings}">
            <td><span th:text="${s.id}"></span></td>
            <td><span th:text="${s.postalCode}"></span></td>
            <td><span th:text="${s.city}"></span></td>
            <td><span th:text="${s.distance}"></span></td>
            <td><span th:text="${s.routeRate}"></span></td>
        </tr>

    </table>
    <div class="container-fluid" style="background-color: lightgrey">
        <div style="padding-top: 25px;padding-bottom: 25px">
            <p style="font-weight: bold">NOWE MIASTO:</p>
            <form th:action="@{/nowemiasto}" th:object="${settings}" method="post">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">KOD:</label>
                    <div class="col-sm-3">
                        <input name="postalCode" type="text" class="form-control" id="inputEmail3"
                               placeholder="kod pocztowy" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail4" class="col-sm-3 col-form-label">MIASTO:</label>
                    <div class="col-sm-3">
                        <input name="city" type="text" class="form-control" id="inputEmail4" placeholder="miasto" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail30" class="col-sm-3 col-form-label"  placeholder="odległość w km">KM:</label>
                    <div class="col-sm-3">
                        <input name="distance" type="number" class="form-control" id="inputEmail30" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-success">+ DODAJ MIASTO</button>
                    </div>
                </div>
            </form>
            <!--formularz end-->

        </div>
    </div>
</div>
</body>
</html>