<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head th:replace="fragments/header :: header"></head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div th:if="${info!=null}" style="display:flex;justify-content:center;align-items:center;background-color: #6495ED">
    <div class="alert">
        <th:block th:if="${info!=null}" th:switch="${info}">
<span th:case="*{info.ERROR}" th:text="#{Order.info.error}"
      th:class="${'alert alert-danger'}"></span>
            <span th:case="*{info.DUPLICAT}" th:text="#{Order.info.duplicat}" th:class="${'alert alert-danger'}"></span>
            <span th:case="*{info.NOFACTORY}" th:text="#{Order.info.nofactory}" th:class="${'alert alert-danger'}"></span>
            <span th:case="*{info.SUCCESS}" th:text="#{Order.info.success}"
                  th:class="${'alert alert-success'}"></span>
        </th:block>
    </div>
</div>
<!--poczatek tabeli -->
<table id="export" class="table table-bordered table-hover" style="font-family: Verdana">
    <thead>
    <tr style="font-weight: bold">
        <td>Lp.</td>
        <td>IMIĘ</td>
        <td>EMAIL</td>
        <td>TELEFON</td>

        <td></td>
    </tr>
    </thead>
    <tr th:each="f,iterStat : ${users}" th:style="${f.active} ? '' : 'color:lightgrey'">
         <td><span th:text="${iterStat.index}+1"></span></td>
        <td><span th:text="${f.userName}"></span></td>
        <td><span th:text="${f.email}"></span></td>
        <td><span th:text="${f.telephone}"></span></td>
        <td>
            <a th:if="${logged.id}==${f.id}" class="btn btn-outline-success btn-sm" th:href="@{/edycjauzytkownik/{id}(id=${f.id})}" role="button">Edytuj</a>
        </td>
    </tr>
</table>
<!-- koniec tabelki -->
<!--formularz start-->

<!--<div class="container-fluid" style="background-color: lightgrey">
    <div style="padding-top: 25px;padding-bottom: 25px">
        <p style="font-weight: bold">NOWA OSOBA</p>
        <form th:action="@{/uzytkownicy}" th:object="${users}" method="post">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">IMIĘ</label>
                <div class="col-sm-2">
                    <input name="userName" type="text" class="form-control" id="inputEmail3">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail4" class="col-sm-2 col-form-label">EMAIL</label>
                <div class="col-sm-2">
                    <input name="email" type="email" class="form-control" id="inputEmail4">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail9" class="col-sm-2 col-form-label">TELEFON</label>
                <div class="col-sm-2">
                    <input name="telephone" type="number" class="form-control" id="inputEmail9">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-success">+ DODAJ OSOBĘ</button>
                </div>
            </div>
        </form>
        &lt;!&ndash;formularz end&ndash;&gt;
    </div>
</div>-->
<div class="mt-3">Ktoś nie ma konta?
    <a href="/register">Zarejestruj nową osobę</a></div>
<p class="mt-3 mb-3 text-muted"> </p>
</body>
</html>