<div th:fragment="ordernew">
    <div class="container-fluid" style="padding-top: 25px;padding-bottom: 25px">
        <p style="font-weight: bold">NOWA TURA EKSPORT</p>
        <form th:action="@{/zlecenia}" th:object="${orders}" method="post">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label">TURA:</label>
                <div class="col-sm-4">
                    <input name="orderNumber" type="text" class="form-control" id="inputEmail3"
                           placeholder="Numer tury">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail4" class="col-sm-4 col-form-label">DATA ZAŁADUNKU:</label>
                <div class="col-sm-4">
                    <input name="loadDate" type="date" class="form-control" id="inputEmail4" placeholder="wybierz datę">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">ROZŁADUNKI:</label>
                <div class="col-sm-4">
                    <textarea placeholder="Wpisz kody rozładunków oddzielone przecinkami..." name="cityCodes"
                              class="form-control"
                              id="validationTextarea" rows="5" required></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail309" class="col-sm-4 col-form-label">UWAGI:</label>
                <div class="col-sm-4">
                    <input name="comment" type="text" class="form-control" id="inputEmail309">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail303" class="col-sm-4 col-form-label">KILOMETRY:</label>
                <div class="col-sm-4">
                    <input name="kilometers" type="number" class="form-control" id="inputEmail303">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail301" class="col-sm-4 col-form-label">CENA HANDEL:</label>
                <div class="col-sm-4">
                    <input name="priceExpected" type="text" class="form-control" id="inputEmail301">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail30" class="col-sm-4 col-form-label">CENA NASZA:</label>
                <div class="col-sm-4">
                    <input name="price" type="number" class="form-control" id="inputEmail30">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4"></div>
                <div class="col-sm-9">
                    <button type="submit" class="btn btn-success">+ DODAJ TURĘ</button>
                </div>
            </div>
        </form>
        <!--formularz end-->

    </div>
</div>